@import '../../styleLibrary.scss';

/* Results Container */
.result_container {
  padding: 100px 30px;
  background-color: $grey;
}

.back_link {
  display: flex;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;

  &:hover > h2 {
    left: -100px;
  }
}

/* Back Button */
.back_button {
  border: none;
  background-color: transparent;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  padding: 10px;
  margin-left: 70px;

  &:hover {
    background-color: $ghost-white;
    margin-left: 90px;
    padding-right: 100px;
  }
}

.back_button > img {
  height: 40px;
  aspect-ratio: 1;
}

/* Results Cards Container */
.result_cards_container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: fit-content;
  justify-content: center;
  gap: 25px;
}
