/* Ingredients Input */
.ingredients_input {
  width: 100%;
  border: none;
  height: 70px;
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
  padding-left: 25px;
}

/* Added Ingredients */
.added_ingredients_section {
  overflow-y: auto;
  margin: 10px 25px;
  border: 1px solid black;
  padding: 10px;
  max-height: 285px;
}

/* Fridge Icon */
.fridge_data_text > img {
  height: 23px;
  aspect-ratio: 1;
}

/* Fridge Container */
.fridge_ingredients_container {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  background-color: white;
}

/* Left Side Fridge Section */
.fridge_data_section {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
  align-items: center;
}

.fridge_data_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  column-gap: 5px;
}

/* Fridge Text & Count */
.fridge_data_text > p,
h2 {
  color: black;
}

.fridge_data_text > p {
  padding-left: 10px;
}

/* Search Button */
.fridge_data_section > button {
  background-color: black;
  color: white;
  border: none;
  height: 70px;
  font-family: 'Raleway', sans-serif;
  width: 150px;
  font-weight: 700;
  cursor: pointer;
}

.fridge_data_section > button:hover {
  background-color: #95a5a6;
  color: white;
  transition: 0.2s ease-in-out;
}

/* UL holding Added Ingredients */
.ingredient_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*********** Media Queries *************/

/* Screen Size Smaller than 600px */
@media only screen and (max-width: 600px) {
  .fridge_data_text {
    column-gap: 1px;
  }

  /* Left Side Fridge Section */
  .fridge_data_section {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
    align-items: center;
  }

  /* Search Button */
  .fridge_data_section > button {
    height: 60px;
    width: 130px;
  }

  /* Added Ingredients */
  .added_ingredients_section {
    overflow-y: auto;
    margin: 10px 10px;
    border: 1px solid black;
    padding: 10px;
    max-height: 285px;
  }
}
