@import '../../styleLibrary.scss';

/* Ingredients Input */
.ingredients_input {
  width: 100%;
  border: none;
  height: 70px;
  background-color: $dark-gray;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  outline: none;
  font-size: 18px;
  box-sizing: border-box;
  padding-left: 25px;
}

/* Added Ingredients */
.added_ingredients_section {
  overflow-y: auto;
  margin: 10px 25px;
  border: 1px solid black;
  padding: 10px;
  max-height: 205px;
}

/* Fridge Icon */
.fridge_data_text > img {
  height: 28px;
  aspect-ratio: 1;
}

/* Fridge Container */
.fridge_ingredients_container {
  display: flex;
  flex-direction: column;
  font-family: 'Raleway', sans-serif;
  background-color: $ghost-white;
}

/* Left Side Fridge Section */
.fridge_data_section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 25px;
  align-items: center;
}

.fridge_data_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  column-gap: 5px;
}

/* Fridge Text & Count */
.fridge_data_text > p,
h2 {
  color: $dark-gray;
}

.fridge_data_text > h2 {
  font-size: 30px;
}

.fridge_data_text > p {
  padding-left: 10px;
  font-size: 20px;
}

/* Search Button */
.fridge_data_section_button > button {
  background-color: $dark-gray;
  color: white;
  border: none;
  height: 70px;
  font-family: 'Raleway', sans-serif;
  width: 150px;
  font-weight: 600;
  font-size: 17px;
  cursor: pointer;

  &:not(:disabled):hover {
    background-color: #95a5a6;
    color: white;
    transition: 0.2s ease-in-out;
  }

  &:disabled {
    background-color: gray;
    opacity: 50%;
    cursor: default;
  }
}

/* Error Text */
.error_container {
  background-color: $error-red;
  margin: 0 25px;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.error_text {
  color: white;
  font-weight: 700;
}

.hide_error_section {
  visibility: hidden;
}

/* UL holding Added Ingredients */
.ingredient_list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Animation Keyframes */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*********** Media Queries *************/

/* Screen Size Smaller than 600px */
@media only screen and (max-width: 600px) {
  .fridge_data_text {
    column-gap: 1px;
  }

  /* Left Side Fridge Section */
  .fridge_data_section {
    background-color: $ghost-white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 10px;
    align-items: center;
  }

  /* Search Button */
  .fridge_data_section > button {
    height: 60px;
    width: 130px;
  }

  /* Added Ingredients */
  .added_ingredients_section {
    overflow-y: auto;
    margin: 10px 10px;
    border: 1px solid black;
    padding: 10px;
    max-height: 285px;
  }

  .error_container {
    background-color: $error-red;
    margin: 0 10px;
  }
}
