@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap');

/*Grid Sections*/
.grid_container_top {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 53.5vh;
}

.grid_container_bottom {
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  grid-template-rows: 42.5vh;
}

/********** Individual Sections ***********/
.grid_item {
  text-align: center;
  width: 100%;
}

/* Recipe Info Section */

/*********** Media Queries *************/

/* Screen Size Smaller than 1200px */
@media only screen and (max-width: 1200px) {
  .grid_container_top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30vh 53.5vh;
  }

  .grid_container_bottom {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 40vh;
  }

  #three {
    display: none;
  }
}

/* Screen Size Smaller than 900px */
@media only screen and (max-width: 900px) {
  .grid_container_bottom {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 40vh;
  }

  .grid_container_top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40vh 52.5vh;
  }
}

/* Screen Size Smaller than 600px */
@media only screen and (max-width: 600px) {
  .grid_container_top {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 35vh 30vh;
  }

  .grid_container_bottom {
    display: none;
  }
}
