@import '../../styleLibrary.scss';

body {
  margin: 0;
}

/* Primary Navbar */
.primary_nav {
  background-color: $ghost-white;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 25px;

  z-index: 9999;
}

/* Navbar Image Logo */
.primary_nav > img {
  height: 22px;
  aspect-ratio: 1;
}

/* Navbar Text Logo */
.logo_text {
  text-decoration: none;
  color: black;
  font-weight: 800;
  font-size: 26px;
  margin-left: 8px;
}
