@import '../../styleLibrary.scss';

body {
  margin: 0;
}

/* Primary Navbar */
.primary_nav {
  background-color: $ghost-white;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 25px;

  z-index: 9999;
}

/* Navbar Image Logo */
.primary_nav > img {
  height: 22px;
  aspect-ratio: 1;
}

/* Navbar Text Logo */
.logo_text {
  text-decoration: none;
  color: $dark-gray;
  font-weight: 800;
  font-size: 26px;
  margin-left: 8px;
}

/* About Link */
#about_link {
  text-decoration: none;
  font-weight: 600;
  color: $dark-gray;
  font-size: 17px;
  margin-left: auto;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  padding: 8px;

  &:hover {
    background-color: $dark-gray;
    color: white;
  }
}
