body {
  margin: 0;
}

/* Primary Navbar */
.primary_nav {
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  padding: 0 25px;
}

/* Navbar Image Logo */
.primary_nav > img {
  height: 23px;
  aspect-ratio: 1;
}

/* Navbar Text Logo */
.logo_text {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-weight: 900;
  font-size: 28px;
  margin-left: 8px;
}
